<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link id="pagestyle" rel="stylesheet" type="text/css" href="night.css">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav" data-th-fragment="nav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" data-th-href="@{/}">Cementerio Municipal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" data-th-href="@{/}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" data-th-href="@{/mapa}">Mapa</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" data-th-href="@{/obituario}">Obituario</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" data-th-href="@{/contacto}">Contacto</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4">Modo oscuro</a></li>
                        <div class="form-check form-switch" style="margin: 20px 20px 20px 0px;">
						  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onclick="lightsout()">
						</div>
                    </ul>
                </div>
            </div>
        </nav>
</body>
</html>