body{
    color: rgb(0, 0, 0);
      background-color: #ffffff;
  }
  .post-preview > a {
      color: rgb(0, 0, 0);
  }
  
  a{
    color: rgb(0, 0, 0);
  }
  .svg-inline--fa{
    color: rgb(0, 0, 0);
  }
  .fa-behance{
    color: rgb(255, 255, 255);
  }
  
  .fa-linkedin{
    color: rgb(255, 255, 255);
  }
  
  .fa-github{
    color: rgb(255, 255, 255);
  }
  
  .text-muted{
    color: #a8a8a8!important;
  }
  
  #mainNav.is-visible{
    background-color: rgba(0, 0, 0, 0.26);
  }
  
  #mainNav.is-fixed .navbar-brand{
      color: rgb(255, 255, 255);
  }
  
  #mainNav.is-fixed .navbar-nav > li.nav-item > a {
      color: #000000;
  }

  .form-control {
    background-color: #fff;
    border: 1px solid #ced4da;
    color: #000000;
  }

  .form-control:focus {
    color: #000000;
    background-color: #fff;
  }

  .form-floating label {
    color: rgb(74, 74, 74);
  }

  .card {
    --bs-card-bg: #ededed;
  }

  .border-light {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-light-rgb), var(--bs-border-opacity)) !important;
  }

  #mainNav {
    background-color: rgba(0, 0, 0, 0.26);
    border-bottom: 1px solid #dee2e6;
  }

  .navbar-brand {
    color: var(--bs-navbar-brand-color);
  }

  .navbar-nav {
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
  }

  .navbar-toggler {
    color: var(--bs-navbar-color);
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  }

  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    color: #000;
  }

  #mainNav .navbar-brand {
    color: rgb(0, 0, 0);
  }

  .form-select {
    background-color: #fff;
    color: #212529;
    border-color: #fff;
    }

  @media (min-width: 992px) {
    #mainNav {
      border-bottom: 1px solid transparent;
      background: transparent;
    }
    #mainNav .navbar-brand {
      color: rgb(255, 255, 255);
    }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: rgba(87, 87, 87, 0.8);
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link {
      color: rgb(255, 255, 255);
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
      color: rgba(134, 134, 134, 0.8);
    }
  }
  
  @media (max-width: 992px){
    #mainNav {
      background-color: rgba(255, 255, 255, 0.9);
      border-bottom: 1px solid #dee2e6;
    }
  }